openapi: 3.1.0
info:
  title: Superserve API
  version: 0.1.0
  description: |
    Superserve provides sandbox infrastructure to run AI agents in the cloud.

    ## Sandbox lifecycle

    ```
    active <--> paused --> deleted
    ```

    A sandbox is `active` when running and `paused` after being paused. Resuming
    a paused sandbox returns it to `active`. Deleting releases all resources.
  contact:
    name: Superserve Team
  license:
    name: Proprietary

servers:
  - url: https://api.superserve.ai
    description: Production

paths:
  /health:
    get:
      operationId: health
      tags: [System]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: "0.1.0"

  /sandboxes:
    get:
      operationId: listSandboxes
      tags: [Sandboxes]
      summary: List all sandboxes
      description: |
        Returns sandboxes belonging to the authenticated team. Filter by
        metadata with query parameters prefixed `metadata.`, e.g.
        `?metadata.env=prod&metadata.owner=agent-7`. Multiple filters AND
        together.
      security:
        - apiKey: []
      parameters:
        - name: metadata.{key}
          in: query
          required: false
          description: Exact-match metadata filter (e.g. `?metadata.env=prod`).
          schema:
            type: string
      responses:
        "200":
          description: List of sandboxes belonging to the authenticated team
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SandboxResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createSandbox
      tags: [Sandboxes]
      summary: Create a new sandbox
      description: |
        Creates a sandbox. When the request returns successfully, the
        sandbox is ready to use — you can run commands against it
        immediately.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxRequest"
      responses:
        "201":
          description: Sandbox created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    get:
      operationId: getSandbox
      tags: [Sandboxes]
      summary: Get a sandbox by ID
      security:
        - apiKey: []
      responses:
        "200":
          description: Sandbox details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteSandbox
      tags: [Sandboxes]
      summary: Delete a sandbox
      security:
        - apiKey: []
      responses:
        "204":
          description: Sandbox deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: patchSandbox
      tags: [Sandboxes]
      summary: Partially update a sandbox
      description: |
        Applies a partial update. Only fields present in the request body
        are applied; nested objects are full replacements (send an empty
        array to clear a list). At least one field must be present.

        Patchable fields:

        - `network` — replaces egress allow/deny rules. Sandbox must be
          `active`; `409` otherwise.
        - `metadata` — replaces metadata tags. Allowed in any state.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxPatch"
      responses:
        "204":
          description: Patch applied
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/pause:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: pauseSandbox
      tags: [Sandboxes]
      summary: Pause a running sandbox
      description: |
        Saves the sandbox's full state and transitions it to `paused`. Resume
        it later to continue exactly where it left off — same memory, same
        running processes, same files.
      security:
        - apiKey: []
      responses:
        "204":
          description: Sandbox paused
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/resume:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: resumeSandbox
      tags: [Sandboxes]
      summary: Resume a paused sandbox
      description: |
        Restores a paused sandbox to `active` with all state intact.
      security:
        - apiKey: []
      responses:
        "200":
          description: Sandbox is now active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResumeResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"


  /sandboxes/{sandbox_id}/exec:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: execCommand
      tags: [Exec]
      summary: Execute a command inside a sandbox
      description: |
        Runs a command inside the sandbox and waits for it to finish, returning
        stdout, stderr, and exit code. Paused sandboxes are rejected with 409;
        resume explicitly via POST /sandboxes/{sandbox_id}/resume first.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
      responses:
        "200":
          description: Command executed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecResult"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/exec/stream:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: execCommandStream
      tags: [Exec]
      summary: Execute a command and stream output via SSE
      description: |
        Runs a command and streams stdout/stderr chunks as Server-Sent Events.
        Each event is a JSON payload. The final event includes `exit_code` and
        `finished: true`. Paused sandboxes are rejected with 409; resume
        explicitly via POST /sandboxes/{sandbox_id}/resume first.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
      responses:
        "200":
          description: >
            SSE stream. Each line starting with `data: ` contains a JSON
            `ExecStreamEvent`. The final event has `finished: true`.
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ExecStreamEvent"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    SandboxId:
      name: sandbox_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique identifier of the sandbox.

  schemas:
    CreateSandboxRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          description: Human-readable name for the sandbox.
        timeout_seconds:
          type: integer
          format: int32
          minimum: 1
          maximum: 604800
          description: >
            Optional cap on how long a sandbox can stay `active`, measured
            from creation. When elapsed, the sandbox is automatically paused.
            Maximum 604800 (7 days).
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |
            String-to-string tags. Limits: 64 keys, 256 B per key, 2 KB per
            value, 16 KB total. Keys starting with `superserve.` or
            `_superserve` are reserved.
          example:
            env: prod
            owner: agent-7
        env_vars:
          type: object
          additionalProperties:
            type: string
          description: |
            Environment variables injected into every process inside the
            sandbox (terminal sessions, exec calls). Persist for the lifetime
            of the sandbox and survive pause/resume.
          example:
            OPENAI_API_KEY: sk-...
            DEBUG: "1"
        network:
          $ref: "#/components/schemas/NetworkConfig"

    SandboxResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [active, paused]
          description: >
            Current state of the sandbox. `active` means running; `paused`
            means paused and awaiting resume.
        vcpu_count:
          type: integer
        memory_mib:
          type: integer
        access_token:
          type: string
          description: |
            Per-sandbox access token for data-plane operations (file
            upload/download, terminal). Pass as the `X-Access-Token` header.
            Returned on create and get-by-id only.
        snapshot_id:
          type: string
          format: uuid
          description: ID of the latest snapshot (present after a pause).
        created_at:
          type: string
          format: date-time
        timeout_seconds:
          type: integer
          format: int32
          description: >
            Hard lifetime cap in seconds from creation, if set at creation
            time. Absent when no cap was configured.
        network:
          $ref: "#/components/schemas/NetworkConfig"
          description: >
            Current egress allow/deny rules, if any have been configured.
            Absent when the sandbox uses default network settings.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >
            User-supplied tags attached at creation. Always present —
            sandboxes created without metadata return `{}` rather than
            being absent.
          example:
            env: prod
            owner: agent-7

    ResumeResponse:
      type: object
      description: Returned by `POST /sandboxes/{id}/resume`.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active]
        access_token:
          type: string
          description: Fresh access token; use this instead of the one from create.

    ExecStreamEvent:
      type: object
      description: A single SSE event payload emitted by the exec/stream endpoint.
      properties:
        timestamp:
          type: string
          format: date-time
        stdout:
          type: string
          description: Stdout chunk (present when the process wrote to stdout).
        stderr:
          type: string
          description: Stderr chunk (present when the process wrote to stderr).
        exit_code:
          type: integer
          description: Process exit code (present on the final event).
        finished:
          type: boolean
          description: True on the final event.
        error:
          type: string
          description: Error message if the exec itself failed (present on the final event on error).

    ExecRequest:
      type: object
      required: [command]
      properties:
        command:
          type: string
          minLength: 1
          description: Command to execute via shell, unless `args` is provided.
        args:
          type: array
          items:
            type: string
          description: If provided, `command` is used as the binary and `args` as arguments (no shell wrapping).
        env:
          type: object
          additionalProperties:
            type: string
          description: Environment variables for the command.
        working_dir:
          type: string
          description: Working directory (default `/home/user`).
        timeout_s:
          type: integer
          default: 30
          description: Timeout in seconds.

    ExecResult:
      type: object
      properties:
        stdout:
          type: string
        stderr:
          type: string
        exit_code:
          type: integer

    NetworkConfig:
      type: object
      description: >
        Egress network rules for a sandbox. `allow_out` accepts CIDRs
        (e.g. `8.8.8.8/32`) and domain names (e.g. `api.openai.com`,
        `*.github.com`). `deny_out` accepts CIDRs only.
        Private ranges (10/8, 172.16/12, 192.168/16, 127/8, 169.254/16)
        are always blocked regardless of rules.
      properties:
        allow_out:
          type: array
          items:
            type: string
          description: CIDRs or domains to allow.
          example: ["api.openai.com", "*.github.com", "8.8.8.8/32"]
        deny_out:
          type: array
          items:
            type: string
          description: CIDRs to deny. Use `0.0.0.0/0` to block all traffic not in `allow_out`.
          example: ["0.0.0.0/0"]

    SandboxPatch:
      type: object
      description: Partial update body for `PATCH /sandboxes/{sandbox_id}`.
      properties:
        network:
          allOf:
            - $ref: "#/components/schemas/NetworkConfig"
          description: Replace egress rules. Sandbox must be `active`.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Replace metadata tags. Same limits as on create.
      example:
        metadata:
          env: prod
          owner: agent-7

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Sandbox is not in a valid state for this operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
