openapi: 3.1.0
info:
  title: Superserve API
  version: 0.1.0
  description: |
    Superserve provides sandbox infrastructure to run AI agents in the cloud. Powered by Firecracker MicroVMs.

    ## Sandbox lifecycle

    ```
    active <--> paused --> deleted
    ```

    A sandbox is `active` when running and `paused` after being paused. Resuming
    a paused sandbox returns it to `active`. Deleting releases all resources.

    | Endpoint | What it does |
    |----------|-------------|
    | `POST /sandboxes` | Create a new sandbox (optionally `from_template`) |
    | `PATCH /sandboxes/:id` | Partially update a running sandbox (e.g. network rules) |
    | `POST /sandboxes/:id/pause` | Snapshot full state, suspend the VM |
    | `POST /sandboxes/:id/resume` | Restore from snapshot, continue where it left off |
    | `DELETE /sandboxes/:id` | Delete sandbox and all resources |

    ## Sandbox environment

    By default sandboxes boot from the curated `superserve/base` template (Ubuntu 24.04,
    1 vCPU, 1 GB RAM, 4 GB disk, with Python 3.12, Node.js 22, npm, git, curl,
    and build-essential pre-installed). Callers can override with any template
    name (e.g. `superserve/python-3.11`, `superserve/node-22`) or a team-owned template UUID
    via the `from_template` field on `POST /sandboxes`.

    ## Files and commands

    `/files`, `/exec`, and `/exec/stream` run against a single sandbox and use
    its `X-Access-Token` (returned by create, resume, and activate), not the
    team API key. Two host forms reach them:

    - `https://sandbox.superserve.ai/...` with `X-Superserve-Sandbox-Id: <sandbox_id>`.
    - `https://boxd-{sandbox_id}.sandbox.superserve.ai/...` — no routing header needed.
  contact:
    name: Superserve Team
  license:
    name: Proprietary

servers:
  - url: https://api.superserve.ai
    description: Production

paths:
  /health:
    get:
      operationId: health
      tags: [System]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: "0.1.0"

  /billing/pricing/public:
    get:
      operationId: getPublicBillingPricing
      tags: [Billing]
      summary: Get public PAYG billing pricing
      description: |
        Returns the active public pay-as-you-go pricing plan and current
        resource rates. This endpoint is unauthenticated so public pricing
        pages can render from the same pricing data used by billing.
      responses:
        "200":
          description: Public pay-as-you-go pricing plan and rates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingPricingResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          description: Public pricing is not available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /billing/pricing:
    get:
      operationId: getBillingPricing
      tags: [Billing]
      summary: Get billing pricing
      description: |
        Returns the authenticated team's active pricing plan and current
        resource rates for billing UI display. The team is derived from
        authentication; callers cannot select a team by query parameter.
      security:
        - apiKey: []
      responses:
        "200":
          description: Active pricing plan and rates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingPricingResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          description: Pricing is not available for the authenticated team's active plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes:
    get:
      operationId: listSandboxes
      tags: [Sandboxes]
      summary: List all sandboxes
      description: |
        Returns sandboxes belonging to the authenticated team, optionally
        filtered by metadata tags.

        ## Filtering by metadata

        Any query parameter prefixed `metadata.` is treated as a filter
        clause: `?metadata.env=prod&metadata.owner=agent-7`. Multiple
        filters AND together — a sandbox matches only if every key/value
        pair is present in its metadata. Values are compared as exact
        strings; there is no type coercion or substring matching.
      security:
        - apiKey: []
      parameters:
        - name: metadata.{key}
          in: query
          required: false
          description: |
            Filter sandboxes whose metadata contains an exact `{key}: <value>`
            pair. Repeat with different keys to AND multiple filters. Values
            are always strings. Example: `?metadata.env=prod`.
          schema:
            type: string
      responses:
        "200":
          description: List of sandboxes belonging to the authenticated team
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SandboxListItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createSandbox
      tags: [Sandboxes]
      summary: Create a new sandbox
      description: |
        Creates a sandbox from a template (defaults to `superserve/base` when
        `from_template` is omitted). When the request returns successfully,
        the sandbox is ready to use — you can run commands against it
        immediately.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxRequest"
      responses:
        "201":
          description: Sandbox created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          description: |
            Rate-limited or quota reached. The `error.code` distinguishes:
            - `rate_limited` — request rate exceeded; retry after a short backoff.
            - `too_many_sandboxes` — team has reached its sandbox count limit
              (paused sandboxes count toward this cap; only DELETE frees a slot);
              delete existing sandboxes or contact support to raise the cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    get:
      operationId: getSandbox
      tags: [Sandboxes]
      summary: Get a sandbox by ID
      security:
        - apiKey: []
      responses:
        "200":
          description: Sandbox details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteSandbox
      tags: [Sandboxes]
      summary: Delete a sandbox
      security:
        - apiKey: []
      responses:
        "204":
          description: Sandbox deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: patchSandbox
      tags: [Sandboxes]
      summary: Partially update a running sandbox
      description: |
        Applies a partial update to a running sandbox. Each top-level field
        in the request body is optional; only fields that are present are
        applied. Omitted top-level fields are left unchanged. Nested objects
        are full replacements when present — to clear a list, send it as an
        empty array.

        At least one top-level field must be present, otherwise the request
        is rejected with `400`. Unknown top-level fields are also rejected
        with `400` so typos surface as errors instead of silent no-ops.

        ## Currently patchable fields

        - `network` — replaces the egress allow/deny rules. The sandbox
          must be in the `active` state; patching a paused sandbox
          returns `409`. Rules take effect immediately and are persisted so
          they survive a future pause/resume cycle.
        - `metadata` — replaces the sandbox's metadata tags. Can be updated
          regardless of sandbox state (active, paused).
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxPatch"
      responses:
        "204":
          description: Patch applied
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/pause:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: pauseSandbox
      tags: [Sandboxes]
      summary: Pause a running sandbox
      description: |
        Snapshots the sandbox's full state (memory + disk), suspends the VM,
        and transitions to `paused`. Resume it later to continue exactly where
        it left off — same memory, same running processes, same files.
      security:
        - apiKey: []
      responses:
        "204":
          description: Sandbox paused
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/resume:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: resumeSandbox
      tags: [Sandboxes]
      summary: Resume a paused sandbox
      description: |
        Restores the sandbox from its paused snapshot. Transitions back to
        `active` with all state intact — same memory, same processes, same files.
      security:
        - apiKey: []
      responses:
        "200":
          description: Sandbox is now active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResumeResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/activate:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: activateSandbox
      tags: [Sandboxes]
      summary: Activate a sandbox
      description: >
        Returns the sandbox with a fresh access token. If the sandbox is
        paused, it is resumed first. Idempotent — calling it on an active
        sandbox just returns a new token.
      security:
        - apiKey: []
      responses:
        "200":
          description: The sandbox is active.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"


  /sandboxes/{sandbox_id}/secrets:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: attachSandboxSecret
      tags: [Sandboxes]
      summary: Attach a secret to a sandbox
      description: |
        Binds a stored secret to an existing sandbox under an env var. The
        sandbox sees a stand-in token; the credential is swapped in for outbound
        requests to its allowed hosts. Takes effect for processes started after
        this call; a paused sandbox applies it on resume.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [env_key, secret_name]
              properties:
                env_key:
                  type: string
                  description: Environment variable the stand-in token is exposed under.
                secret_name:
                  type: string
                  description: Name of the team secret to bind.
      responses:
        "201":
          description: Secret attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  env_key:
                    type: string
                  secret_name:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/secrets/{env_key}:
    parameters:
      - $ref: "#/components/parameters/SandboxId"
      - name: env_key
        in: path
        required: true
        schema:
          type: string
        description: Environment variable the secret is bound under.

    delete:
      operationId: detachSandboxSecret
      tags: [Sandboxes]
      summary: Detach a secret from a sandbox
      description: |
        Removes a secret binding from an existing sandbox and revokes its
        stand-in token, so requests that use it are refused — for an
        already-running process, within about a minute. A paused sandbox applies
        the change on resume.
      security:
        - apiKey: []
      responses:
        "204":
          description: Secret detached
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/exec:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: execCommand
      tags: [Exec]
      summary: Execute a command inside a sandbox
      description: |
        Runs a command inside the sandbox and waits for it to finish, returning
        stdout, stderr, and exit code. A paused sandbox is resumed automatically
        before the command runs and stays active afterward.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
      responses:
        "200":
          description: Command executed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecResult"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/exec/stream:
    parameters:
      - $ref: "#/components/parameters/SandboxId"

    post:
      operationId: execCommandStream
      tags: [Exec]
      summary: Execute a command and stream output via SSE
      description: |
        Runs a command and streams stdout/stderr chunks as Server-Sent Events.
        Each event is a JSON payload. The final event includes `exit_code` and
        `finished: true`. A paused sandbox is resumed automatically before the
        command runs and stays active afterward.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
      responses:
        "200":
          description: >
            SSE stream. Each line starting with `data: ` contains a JSON
            `ExecStreamEvent`. The final event has `finished: true`.
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ExecStreamEvent"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

  /exec/connect:
    servers:
      - url: https://sandbox.superserve.ai
        description: Shared host — send the sandbox ID in `X-Superserve-Sandbox-Id`.
      - url: https://boxd-{sandbox_id}.sandbox.superserve.ai
        description: Per-sandbox host.
        variables:
          sandbox_id:
            default: ""
            description: The sandbox ID.
    get:
      operationId: execConnect
      tags: [Exec]
      summary: Run a command over a WebSocket
      description: |
        Runs a command over a WebSocket, streaming output back and accepting
        stdin over one connection.

        Connect with two `Sec-WebSocket-Protocol` values: `superserve.exec.v1`
        and `token.<access-token>`.

        I/O rides binary frames prefixed with a one-byte channel, so output is
        byte-exact; lifecycle and control ride text JSON frames.

        - First frame (text): an `ExecRequest` JSON object. Omitting `timeout_s`
          runs with no per-command timeout.
        - Client frames: a binary frame is stdin, prefixed with channel `0x00`
          (`[0x00][bytes]`); a text frame is JSON control —
          `{"type":"stdin_close"}` or `{"type":"signal","name":"SIGINT"}`.
          Frames are capped at 64 KiB, so chunk larger stdin.
        - Server frames: a binary frame is output, prefixed with its channel
          (`0x01` stdout, `0x02` stderr); a text frame is JSON lifecycle —
          `{"exit_code":N,"finished":true}`, or `{"error":"...","code":"..."}`.
          Closes on exit.
      responses:
        "101":
          description: Switching Protocols — the WebSocket is established.

  /secrets:
    post:
      operationId: createSecret
      tags: [Secrets]
      summary: Create a secret
      description: |
        Stores a credential under the caller's team. The plaintext is
        envelope-encrypted at rest and is never returned by any API.
        At sandbox-create time, bind the secret to an environment-variable
        name via the `secrets` map on `POST /sandboxes`; the agent sees a
        proxy token in env and the in-host enforcement daemon swaps it for
        the real value at egress.

        Use `provider` for built-in shortcuts (e.g. `anthropic`, `openai`,
        `github`, `stripe`) which auto-fill the auth scheme and allowed
        upstream hosts. Use `auth` + `hosts` for a custom integration.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSecretRequest"
      responses:
        "201":
          description: Secret created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecretResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      operationId: listSecrets
      tags: [Secrets]
      summary: List secrets for the calling team
      description: |
        Returns metadata for all secrets owned by the team. Cleartext values
        are never returned.
      security:
        - apiKey: []
      responses:
        "200":
          description: Secret metadata list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SecretResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /secrets/{name}:
    parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: Secret name as set at creation.
    get:
      operationId: getSecret
      tags: [Secrets]
      summary: Get a secret's metadata
      description: Returns metadata only — the cleartext value is never returned.
      security:
        - apiKey: []
      responses:
        "200":
          description: Secret metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecretResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateSecretValue
      tags: [Secrets]
      summary: Rotate a secret's value
      description: |
        Replaces the stored ciphertext with a freshly-encrypted copy of the
        new value. All sandboxes bound to this secret continue to work; in-host
        caches are invalidated so the next egress uses the new value.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSecretRequest"
      responses:
        "200":
          description: Secret updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecretResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteSecret
      tags: [Secrets]
      summary: Revoke a secret
      description: |
        Soft-deletes the secret: the proxy daemon refuses to serve it and
        new sandbox bindings fail. Existing audit-history queries still
        resolve the row. The same name can be re-used by creating a new secret.
      security:
        - apiKey: []
      responses:
        "204":
          description: Secret revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /sandboxes/{sandbox_id}/network:
    parameters:
      - $ref: "#/components/parameters/SandboxId"
    get:
      operationId: listSandboxNetwork
      tags: [Sandboxes]
      summary: List a sandbox's egress activity
      description: |
        The unified per-sandbox network log: every outbound connection the
        sandbox made, merged into one time-ordered stream, most recent first.
        Each row has a `kind` — `connection` (host, bytes, allow/deny verdict)
        or `request` (HTTP method, path, status, and the secret used, when a
        credential was injected). Fields not relevant to a row's kind are
        omitted.

        Filter by time window (`since`/`before`) and `verdict`. Paginate by
        passing the response's `next_cursor` as `before` while `has_more` is
        true. A `verdict` filter returns only `connection` rows, since request
        rows carry no verdict.
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AuditLimit"
        - name: before
          in: query
          description: >-
            Pagination cursor or time filter. Pass the previous response's
            opaque `next_cursor` to page through results, or an RFC3339
            timestamp to return rows strictly older than that time.
          schema:
            type: string
        - name: since
          in: query
          description: Return rows at or newer than this RFC3339 timestamp.
          schema:
            type: string
            format: date-time
        - name: verdict
          in: query
          description: Filter to connection rows with this verdict. Excludes request rows.
          schema:
            type: string
            enum: [allowed, blocked, failed]
      responses:
        "200":
          description: A page of network events (most recent first)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkEventPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /secrets/{name}/audit:
    parameters:
      - $ref: "#/components/parameters/SecretName"
    get:
      operationId: listSecretAudit
      tags: [Secrets]
      summary: List proxy egress events that used this credential
      description: |
        Returns proxy_audit events for every outbound request that the
        in-host enforcement daemon swapped with this credential, across
        every sandbox it was bound to. Each row includes the originating
        sandbox name (null when that sandbox has since been deleted).
      security:
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/AuditLimit"
        - $ref: "#/components/parameters/AuditBefore"
        - $ref: "#/components/parameters/AuditStatusFilter"
      responses:
        "200":
          description: Audit events (most recent first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProxyAuditEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /secrets/{name}/sandboxes:
    parameters:
      - $ref: "#/components/parameters/SecretName"
    get:
      operationId: listSecretSandboxes
      tags: [Secrets]
      summary: List sandboxes currently bound to this credential
      description: >
        Returns the active (non-destroyed) sandboxes that have this credential
        bound, with the env-var name each binding uses. Useful before rotation
        or deletion ("which sandboxes will be affected?").
      security:
        - apiKey: []
      responses:
        "200":
          description: Bound sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SandboxSecretBinding"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /providers:
    get:
      operationId: listProviders
      tags: [Secrets]
      summary: List the built-in provider shortcut catalog
      description: >
        Returns the providers customers can pass as `provider` on
        `POST /secrets`. Backend-of-record so the console picker stays
        in sync as the catalog grows.
      security:
        - apiKey: []
      responses:
        "200":
          description: Provider catalog
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProviderShortcut"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /files:
    servers:
      - url: https://sandbox.superserve.ai
        description: Shared host — send the sandbox ID in `X-Superserve-Sandbox-Id`.
      - url: https://boxd-{sandbox_id}.sandbox.superserve.ai
        description: Per-sandbox host.
        variables:
          sandbox_id:
            default: ""
            description: The sandbox ID.
    parameters:
      - name: path
        in: query
        required: true
        schema:
          type: string
        description: >
          Absolute path of the file inside the sandbox (e.g.
          `/home/user/out.txt`).

    get:
      operationId: readFile
      tags: [Files]
      summary: Read a file from a sandbox
      security:
        - accessToken: []
      responses:
        "200":
          description: File contents.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: writeFile
      tags: [Files]
      summary: Write a file to a sandbox
      description: Creates parent directories as needed and overwrites any existing file.
      security:
        - accessToken: []
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File written.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileWriteResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "507":
          $ref: "#/components/responses/StorageFull"
        "500":
          $ref: "#/components/responses/InternalError"

  /templates:
    get:
      operationId: listTemplates
      tags: [Templates]
      summary: List templates visible to the caller
      description: |
        Returns the caller's team's templates plus the curated system
        templates (available to everyone, identified by the `superserve/` name
        prefix — e.g. `superserve/base`, `superserve/python-3.11`, `superserve/node-22`). Filter
        by `name_prefix=<text>`.
      security:
        - apiKey: []
      parameters:
        - name: name_prefix
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TemplateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createTemplate
      tags: [Templates]
      summary: Create a template and kick off the first build
      description: |
        Creates a template and queues the first build. The response includes
        both the template id and the build id, so clients can immediately
        poll `GET /templates/{id}` for overall status or subscribe to
        `GET /templates/{id}/builds/{build_id}/logs` for live output.

        Template starts in status `building`. Poll until it reaches `ready`
        before creating sandboxes from it. On failure the status becomes
        `failed` and `error_message` is populated.

        To rebuild an existing template (e.g. after a failure or when the
        base image updates), use `POST /templates/{id}/builds`.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemplateRequest"
      responses:
        "202":
          description: Template created; first build queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTemplateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          description: |
            Quota reached. The `error.code` distinguishes:
            - `too_many_builds` — team has reached its concurrent build
              limit; wait for an active build to finish.
            - `too_many_templates` — team has reached its total template
              count limit; delete templates or contact support to raise the cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /templates/{template_id}:
    parameters:
      - $ref: "#/components/parameters/TemplateId"

    get:
      operationId: getTemplate
      tags: [Templates]
      summary: Get a template by ID
      security:
        - apiKey: []
      responses:
        "200":
          description: Template details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteTemplate
      tags: [Templates]
      summary: Delete a template
      description: |
        Delete a template owned by the caller's team. Returns `409` if any
        active or paused sandbox still references this template, or if a
        build is currently in progress; cancel those first.
      security:
        - apiKey: []
      responses:
        "204":
          description: Template deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /templates/{template_id}/builds:
    parameters:
      - $ref: "#/components/parameters/TemplateId"

    get:
      operationId: listTemplateBuilds
      tags: [Templates]
      summary: List recent builds for a template
      security:
        - apiKey: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: List of builds, newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TemplateBuildResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createTemplateBuild
      tags: [Templates]
      summary: Rebuild an existing template
      description: |
        Queues a new build for this template. Used to retry after a failed
        build, or to rebuild when the base image has been updated.

        The **first** build is queued automatically when the template is
        created via `POST /templates` — this endpoint is only for
        subsequent builds.

        ## Idempotency

        If an in-flight build (`pending`/`building`/`snapshotting`) already
        exists for this template with the same build spec, this endpoint
        returns the existing build's id with `200` instead of creating a
        duplicate.
      security:
        - apiKey: []
      responses:
        "201":
          description: Build created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateBuildResponse"
        "200":
          description: Existing in-flight build returned (idempotent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateBuildResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          description: >
            Team has reached the per-team concurrent build limit. Response
            body uses error code `too_many_builds`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /templates/{template_id}/builds/{build_id}:
    parameters:
      - $ref: "#/components/parameters/TemplateId"
      - $ref: "#/components/parameters/BuildId"

    get:
      operationId: getTemplateBuild
      tags: [Templates]
      summary: Get a build by ID
      security:
        - apiKey: []
      responses:
        "200":
          description: Build details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateBuildResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: cancelTemplateBuild
      tags: [Templates]
      summary: Cancel an in-flight build
      description: |
        Cancels an in-flight build. No-op for builds already in a terminal state.
      security:
        - apiKey: []
      responses:
        "204":
          description: Build cancelled (or was already terminal)
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /templates/{template_id}/builds/{build_id}/logs:
    parameters:
      - $ref: "#/components/parameters/TemplateId"
      - $ref: "#/components/parameters/BuildId"

    get:
      operationId: streamTemplateBuildLogs
      tags: [Templates]
      summary: Stream build logs via SSE
      description: |
        Server-Sent Events stream of the build's stdout/stderr. Connecting
        replays buffered output from the start of the build, then streams
        live as it arrives. Closes when the build reaches a terminal state.
      security:
        - apiKey: []
      responses:
        "200":
          description: SSE stream of build log events
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/BuildLogEvent"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    accessToken:
      type: apiKey
      in: header
      name: X-Access-Token
      description: >
        Per-sandbox token returned by create, resume, and activate. Grants
        access to a single sandbox's files and commands. Distinct from the
        team `X-API-Key`.

  parameters:
    SandboxId:
      name: sandbox_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique identifier of the sandbox.

    TemplateId:
      name: template_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique identifier of the template.

    BuildId:
      name: build_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique identifier of the template build.

    SecretName:
      name: name
      in: path
      required: true
      schema:
        type: string
      description: Secret name as set at creation.

    AuditLimit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50

    AuditBefore:
      name: before
      in: query
      required: false
      schema:
        type: integer
        format: int64
      description: Return events with `id` strictly less than this cursor.

    AuditStatusFilter:
      name: status
      in: query
      required: false
      schema:
        type: string
        enum: [2xx, 3xx, 4xx, 5xx, errors]
      description: Narrow by HTTP status class; `errors` includes 4xx and 5xx.

  schemas:
    CreateSandboxRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
          description: Human-readable name for the sandbox.
        from_template:
          type: string
          description: >
            Boot the sandbox from a template. Accepts either a template UUID
            or a name (e.g. `superserve/base`, `superserve/python-3.11`, `superserve/node-22`, or
            a team-owned name like `my-python-env`). The template must be
            owned by the caller's team OR be a curated system template
            (curated templates use the `superserve/` name prefix). The template's
            vCPU, memory, and disk values are inherited by the sandbox —
            they cannot be overridden per-sandbox because the snapshot
            dictates VM shape. When omitted, defaults to `superserve/base`.
        timeout_seconds:
          type: integer
          format: int32
          minimum: 1
          maximum: 604800
          description: >
            Optional hard lifetime cap in seconds, measured from sandbox
            creation. When set, the sandbox is destroyed this many seconds
            after creation regardless of state (active, paused) or
            activity — the user asked for a hard deadline.
            When unset, the sandbox lives until explicitly paused or
            deleted. Maximum 604800 (7 days).
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |
            Flat string-to-string tags attached to the sandbox at creation.
            Useful for grouping, owner labels, environment, run IDs, etc.

            ## Constraints
              - **Strings only.** Values must be strings. There is no type
                coercion: `metadata.count=42` filters for the *string* "42".
              - **At most 64 keys.**
              - Each key may be at most **256 bytes**.
              - Each value may be at most **2048 bytes** (2 KB).
              - The serialized object may be at most **16384 bytes** (16 KB)
                in total.
              - Keys starting with `superserve.` or `_superserve` (case-
                insensitive) are reserved for platform use and rejected.

            Metadata can be updated after creation via `PATCH /sandboxes/:id`.
            Filter sandboxes by metadata via the `metadata.{key}` query
            parameter on `GET /sandboxes`.
          example:
            env: prod
            owner: agent-7
        env_vars:
          type: object
          additionalProperties:
            type: string
          description: |
            Environment variables injected into every process inside the
            sandbox (terminal sessions, exec calls). Merged on top of any
            defaults set by the template's `env` build steps — caller keys
            win on conflict. Survive pause/resume.
          example:
            OPENAI_API_KEY: sk-...
            DEBUG: "1"
            run_id: 7f3c-21
        network:
          $ref: "#/components/schemas/NetworkConfig"
        secrets:
          type: object
          additionalProperties:
            type: string
          description: |
            Bind team-stored credentials to environment variables inside the
            sandbox. Keys are env-var names; values are secret names from
            `POST /secrets`. The agent never sees the real value: it sees a
            proxy token in env, and the in-host enforcement daemon swaps the
            token for the real credential at egress.
          example:
            ANTHROPIC_API_KEY: anthropic-prod
            GITHUB_TOKEN: ghp-readonly

    SandboxListItem:
      description: Sandbox shape returned by list endpoints.
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [active, paused, resuming]
          description: >
            Current state of the sandbox. `active` means running; `paused`
            means paused and awaiting resume. `resuming` is a transient
            state observed while the platform restores a paused sandbox
            (e.g. via auto-resume on `/exec`); clients should retry shortly.
        vcpu_count:
          type: integer
        memory_mib:
          type: integer
        snapshot_id:
          type: string
          format: uuid
          description: ID of the latest snapshot (present after a pause).
        created_at:
          type: string
          format: date-time
        timeout_seconds:
          type: integer
          format: int32
          description: >
            Hard lifetime cap in seconds from creation, if set at creation
            time. Absent when no cap was configured.
        network:
          $ref: "#/components/schemas/NetworkConfig"
          description: >
            Current egress allow/deny rules, if any have been configured.
            Absent when the sandbox uses default network settings.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >
            User-supplied tags attached at creation. Always present —
            sandboxes created without metadata return `{}` rather than
            being absent.
          example:
            env: prod
            owner: agent-7

    SandboxResponse:
      description: Single-sandbox shape — `SandboxListItem` plus `access_token` and bound secrets.
      allOf:
        - $ref: "#/components/schemas/SandboxListItem"
        - type: object
          properties:
            access_token:
              type: string
              description: |
                Per-sandbox access token for data-plane operations (file
                upload/download, terminal). Pass as the `X-Access-Token`
                header.
            secrets:
              type: array
              description: >
                Credentials bound to this sandbox. Each entry maps an env-var
                name visible to the agent to the secret name it resolves to.
                `revoked=true` when the underlying secret has been soft-deleted
                (the env var still holds the now-useless proxy token).
              items:
                type: object
                required: [env_key, secret_name]
                properties:
                  env_key:
                    type: string
                  secret_name:
                    type: string
                  revoked:
                    type: boolean
                    default: false

    ResumeResponse:
      type: object
      description: Returned by `POST /sandboxes/{id}/resume`.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active]
        access_token:
          type: string
          description: Fresh access token; use this instead of the one from create.

    ExecStreamEvent:
      type: object
      description: |
        A single SSE event payload emitted by the exec/stream endpoint.
        `stdout`/`stderr` are JSON strings — see `ExecResult` for the UTF-8
        caveat on binary output. The stream also emits SSE comment frames
        (`: keepalive\n\n`) every 15s to keep proxies from closing idle
        connections; parsers MUST ignore lines that don't start with `data: `.
      properties:
        timestamp:
          type: string
          format: date-time
        stdout:
          type: string
          description: Stdout chunk (present when the process wrote to stdout).
        stderr:
          type: string
          description: Stderr chunk (present when the process wrote to stderr).
        exit_code:
          type: integer
          description: Process exit code (present on the final event).
        finished:
          type: boolean
          description: True on the final event.
        error:
          type: string
          description: Error message if the exec itself failed (present on the final event on error).

    ExecRequest:
      type: object
      required: [command]
      properties:
        command:
          type: string
          minLength: 1
          description: Command to execute. Wrapped in `/bin/sh -c` unless `args` is provided.
        args:
          type: array
          items:
            type: string
          description: If provided, `command` is used as the binary and `args` as arguments (no shell wrapping).
        env:
          type: object
          additionalProperties:
            type: string
          description: Environment variables for the command.
        working_dir:
          type: string
          description: Working directory (default `/home/user`).
        timeout_s:
          type: integer
          default: 30
          description: Timeout in seconds.

    ExecResult:
      type: object
      description: |
        `stdout` and `stderr` are JSON strings, which require valid UTF-8.
        Non-UTF-8 bytes are replaced with U+FFFD. To capture binary output,
        redirect it to a file in the sandbox and download via the files API.
      properties:
        stdout:
          type: string
        stderr:
          type: string
        exit_code:
          type: integer

    NetworkConfig:
      type: object
      description: >
        Egress network rules for a sandbox. `allow_out` accepts CIDRs
        (e.g. `8.8.8.8/32`) and domain names (e.g. `api.openai.com`,
        `*.github.com`). `deny_out` accepts CIDRs only.
        Private ranges (10/8, 172.16/12, 192.168/16, 127/8, 169.254/16)
        are always blocked regardless of rules.
      properties:
        allow_out:
          type: array
          items:
            type: string
          description: CIDRs or domains to allow.
          example: ["api.openai.com", "*.github.com", "8.8.8.8/32"]
        deny_out:
          type: array
          items:
            type: string
          description: CIDRs to deny. Use `0.0.0.0/0` to block all traffic not in `allow_out`.
          example: ["0.0.0.0/0"]

    SandboxPatch:
      type: object
      description: |
        Partial update body for `PATCH /sandboxes/{sandbox_id}`. Each
        top-level field is optional; only fields that are present are
        applied. Omitted fields are left unchanged. Nested objects are
        full replacements when present — to clear a list, send it as an
        empty array.

        At least one top-level field must be set, otherwise the request
        is rejected with `400`. Unknown fields are also rejected with
        `400`.
      properties:
        network:
          allOf:
            - $ref: "#/components/schemas/NetworkConfig"
          description: |
            Replace the sandbox's egress rules. The sandbox must be in
            the `active` state. The provided `allow_out` and `deny_out`
            lists fully replace whatever was previously configured.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |
            Replace the sandbox's metadata tags. Fully replaces the existing
            metadata — omitted keys are removed. Can be patched regardless of
            sandbox state. Same validation limits as on create (64 keys,
            256-byte keys, 2 KB values, 16 KB total).
      example:
        metadata:
          env: prod
          owner: agent-7

    BuildSpec:
      type: object
      required: [from]
      description: Declaration of how to build a template.
      properties:
        from:
          type: string
          description: >
            OCI image reference for the base. Examples: `python:3.11`,
            `node:22-slim`, `ghcr.io/myorg/foo:v1`. Resolved to a digest at
            build time and recorded for reproducibility. Must be a Linux/amd64
            image. Alpine and distroless bases are rejected at validation.
          example: python:3.11
        steps:
          type: array
          items:
            $ref: "#/components/schemas/BuildStep"
          description: Ordered list of build steps executed inside the build VM.
        start_cmd:
          type: string
          description: >
            Optional command started after build steps complete. The snapshot
            captures the running process, so sandboxes restored from this
            template come up with the process already live.
        ready_cmd:
          type: string
          description: >
            Optional readiness probe. Polled every 2s after `start_cmd`, until
            it exits 0 or 10 minutes elapse. Use to wait for a server to bind
            its port before snapshotting.

    BuildStep:
      type: object
      description: >
        A single build step. Exactly one of `run`, `env`, `workdir`, or
        `user` must be set.
      properties:
        run:
          type: string
          description: Shell command. Wrapped in `/bin/sh -c` inside the build VM.
          example: pip install -r requirements.txt
        env:
          type: object
          required: [key, value]
          description: >
            Sets an environment variable for subsequent build steps AND the
            template's runtime default. Sandboxes created from this template
            inherit it; caller-supplied `env_vars` on sandbox create override
            on conflict.
          properties:
            key:
              type: string
            value:
              type: string
        workdir:
          type: string
          description: >
            Working directory for subsequent build steps AND the template's
            runtime default cwd. Absolute paths are used as-is; relative
            paths resolve against the current workdir (base `/` when none
            has been set). Auto-created and chowned to the current build
            user. Per-exec `working_dir` overrides at runtime.
          example: /srv/app
        user:
          type: object
          required: [name]
          description: >
            Switches the user subsequent build steps execute as, and sets
            the template's runtime default exec user. The user is created
            if it doesn't exist. Per-exec `user` overrides at runtime.
          properties:
            name:
              type: string
              description: >
                Linux username. Must start with a lowercase letter or
                underscore; allowed characters are [a-z0-9_-], max 31 chars.
              example: appuser
            sudo:
              type: boolean
              default: false
              description: When true, grants passwordless sudo to the user.

    CreateTemplateRequest:
      type: object
      required: [name, build_spec]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          pattern: "^[a-z0-9]([a-z0-9._/-]*[a-z0-9])?$"
          description: >
            Human-readable name, unique per team. Used as the
            `from_template` value when creating sandboxes. Lowercase
            letters, digits, and `.` `_` `/` `-` only; must start and
            end with a letter or digit. Names starting with `superserve/`
            are reserved for curated system templates and rejected for
            team-owned templates.
          example: my-python-env
        vcpu:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
        memory_mib:
          type: integer
          minimum: 256
          maximum: 4096
          default: 1024
        disk_mib:
          type: integer
          minimum: 1024
          maximum: 8192
          default: 4096
        build_spec:
          $ref: "#/components/schemas/BuildSpec"

    CreateTemplateResponse:
      type: object
      description: |
        Returned by `POST /templates` — includes both the new template id
        and the id of the first build that was queued for it. Clients can
        immediately open the build-log SSE stream or poll the template for
        status transitions.
      properties:
        id:
          type: string
          format: uuid
        team_id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [building, ready, failed]
        vcpu:
          type: integer
        memory_mib:
          type: integer
        disk_mib:
          type: integer
        created_at:
          type: string
          format: date-time
        build_id:
          type: string
          format: uuid
          description: ID of the first build. Use it to stream logs or poll status.

    TemplateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        team_id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [pending, building, ready, failed]
        vcpu:
          type: integer
        memory_mib:
          type: integer
        disk_mib:
          type: integer
        size_bytes:
          type: integer
          format: int64
          description: On-disk size of the template's snapshot bundle (present once `ready`).
        error_message:
          type: string
          description: Last build's error message, if status is `failed`.
        created_at:
          type: string
          format: date-time
        built_at:
          type: string
          format: date-time
          description: When the template most recently transitioned to `ready`.

    TemplateBuildResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        template_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, building, snapshotting, ready, failed, cancelled]
        build_spec_hash:
          type: string
          description: Stable hash of the build_spec at submission time. Used for idempotent submits.
        error_message:
          type: string
          description: >
            Populated when `status = failed`. The message is prefixed with a
            stable error code the UI / SDK can key on: `image_pull_failed`,
            `step_failed`, `boot_failed`, `snapshot_failed`, `start_cmd_failed`,
            `ready_cmd_failed`, or `build_failed` (fallback).
          example: "step_failed: step 1/2 failed after 3s: exited with code 100"
        started_at:
          type: string
          format: date-time
        finalized_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    BuildLogEvent:
      type: object
      description: A single SSE event from the build log stream.
      properties:
        timestamp:
          type: string
          format: date-time
        stream:
          type: string
          enum: [stdout, stderr, system]
          description: >
            `stdout`/`stderr` are forwarded from the build process. `system`
            is platform-emitted status text (step boundaries, snapshot
            phase, terminal status).
        text:
          type: string
        finished:
          type: boolean
          description: True on the final event.
        status:
          type: string
          enum: [ready, failed, cancelled]
          description: Terminal status, present on the final event.

    FileWriteResult:
      type: object
      description: Result of a successful file write.
      properties:
        path:
          type: string
          description: Absolute path the file was written to inside the sandbox.
        size:
          type: integer
          format: int64
          description: Number of bytes written.
      example:
        path: /home/user/out.txt
        size: 1024

    CreateSecretRequest:
      type: object
      required: [name, value]
      properties:
        name:
          type: string
          maxLength: 128
          pattern: "^[A-Za-z_][A-Za-z0-9_-]*$"
          description: >
            Identifier used to reference the secret later (e.g. in the
            `secrets` map on `POST /sandboxes`).
        value:
          type: string
          maxLength: 8192
          description: Cleartext credential. Encrypted at rest; never returned.
        provider:
          type: string
          description: >
            Built-in provider shortcut (e.g. `anthropic`, `openai`, `github`,
            `stripe`). When set, auto-fills auth scheme and allowed upstream
            hosts. Mutually exclusive with `auth` and `hosts`. `github`
            emits a `per_host` config so the same PAT works for both
            api.github.com REST (`Bearer`) and github.com git over HTTPS
            (`Basic` with `x-access-token`).
        auth:
          $ref: "#/components/schemas/SecretAuthConfig"
        hosts:
          type: array
          items:
            type: string
          maxItems: 16
          description: >
            Upstream allow list. Required when `auth` is set. Each entry is a
            hostname or single-level wildcard (e.g. `api.example.com`,
            `*.example.com`).

    UpdateSecretRequest:
      type: object
      required: [value]
      properties:
        value:
          type: string
          maxLength: 8192
          description: New cleartext value to encrypt and store.

    SecretAuthConfig:
      description: |
        Egress auth shape. Use the single-rule form (`type` + type-specific
        fields) for credentials that authenticate the same way on every host.
        Use `per_host` when the same credential needs different auth schemes
        on different hosts of the same provider — for example one host
        accepts `Bearer` while another accepts `Basic` with a fixed username.
        Single-rule and `per_host` are mutually exclusive.
      oneOf:
        - $ref: "#/components/schemas/SecretAuthConfigSingleRule"
        - $ref: "#/components/schemas/SecretAuthConfigPerHost"

    SecretAuthConfigSingleRule:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [bearer, basic, api-key, custom]
          description: |
            Egress auth scheme:
            - `bearer`: `Authorization: Bearer <value>`
            - `basic`: `Authorization: Basic <base64(username:value)>`
            - `api-key`: custom header (set `header`, optionally `prefix`)
            - `custom`: caller-defined `headers` map
        header:
          type: string
          description: Header name (required for `api-key`).
        prefix:
          type: string
          description: Optional value prefix (used by `api-key`).
        username:
          type: string
          description: >
            Optional username for `basic`. When set, this username is used
            verbatim in the outbound Basic header (overrides any username sent
            by the client). When empty, the inbound username is preserved, or
            `x` is used if absent.
        headers:
          type: object
          additionalProperties:
            type: string
          maxProperties: 8
          description: Header-name → value template (required for `custom`).

    SecretAuthConfigPerHost:
      type: object
      required: [per_host]
      properties:
        per_host:
          type: array
          minItems: 1
          maxItems: 16
          items:
            $ref: "#/components/schemas/SecretPerHostRule"
          description: >
            Per-host rule list. The daemon picks the first rule whose `hosts`
            match the upstream host at egress. Every host referenced here must
            also appear in the top-level `hosts` allowlist. Rules may not
            overlap (a host belongs to at most one rule).

    SecretPerHostRule:
      type: object
      required: [hosts, type]
      properties:
        hosts:
          type: array
          minItems: 1
          maxItems: 16
          items:
            type: string
          description: >
            Hosts this rule authenticates. Exact hostnames or single-level
            wildcards (`*.example.com`).
        type:
          type: string
          enum: [bearer, basic, api-key, custom]
        header:
          type: string
          description: Header name (required for `api-key`).
        prefix:
          type: string
          description: Optional value prefix (used by `api-key`).
        username:
          type: string
          description: Username slot for `basic`. Used verbatim in the outbound `Basic <base64(username:value)>` header.
        headers:
          type: object
          additionalProperties:
            type: string
          maxProperties: 8
          description: Header-name → value template (required for `custom`).

    SecretResponse:
      type: object
      required: [id, name, auth_type, auth_config, hosts, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        auth_type:
          type: string
          enum: [bearer, basic, api-key, custom, per_host]
          description: >
            `per_host` indicates a multi-rule secret; the resolved rules are
            in `auth_config.per_host`.
        auth_config:
          type: object
          additionalProperties: true
          description: Resolved auth scheme details (no cleartext value).
        provider_shortcut:
          type: string
          nullable: true
          description: Provider shortcut used at creation, if any.
        hosts:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the most recent egress that used this secret.

    ProxyAuditEvent:
      type: object
      required: [id, ts, sandbox_id, method, host, path, status]
      properties:
        id:
          type: integer
          format: int64
          description: Monotonic event id — also the pagination cursor.
        ts:
          type: string
          format: date-time
        sandbox_id:
          type: string
          format: uuid
        sandbox_name:
          type: string
          nullable: true
          description: >
            Originating sandbox's name at query time. Only populated by
            cross-sandbox views such as `GET /secrets/{name}/audit`. Null
            when the sandbox has since been deleted.
        secret_id:
          type: string
          format: uuid
          description: Secret involved in this request, if any.
        method:
          type: string
        host:
          type: string
          description: Upstream host targeted by the request.
        path:
          type: string
        status:
          type: integer
          format: int32
          description: Status the proxy returned to the sandbox.
        upstream_status:
          type: integer
          format: int32
          nullable: true
          description: Status returned by the upstream (absent if the proxy short-circuited).
        latency_ms:
          type: integer
          format: int32
          nullable: true
        error_code:
          type: string
          nullable: true
          description: Stable error tag when the proxy denied or failed the request.

    NetworkEventPage:
      type: object
      required: [data, next_cursor, has_more]
      description: A page of network events with pagination metadata.
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/NetworkEvent"
        next_cursor:
          type: string
          nullable: true
          description: >-
            Opaque pagination cursor. Pass it verbatim as `before` to fetch the
            next page; do not parse it. Null when has_more is false.
        has_more:
          type: boolean
          description: Whether more rows exist beyond this page.

    NetworkEvent:
      type: object
      required: [kind, id, ts]
      description: |
        One row in the unified network log. `kind` selects which fields are
        present: connection rows carry dst_ip/verdict/bytes, request rows carry
        method/path/status/secret_id. Unused fields are omitted.
      properties:
        kind:
          type: string
          enum: [connection, request]
        id:
          type: integer
          format: int64
        ts:
          type: string
          format: date-time
        host:
          type: string
          description: Destination host (SNI / HTTP Host).
        dst_ip:
          type: string
          description: Connection rows only.
        dst_port:
          type: integer
          format: int32
        verdict:
          type: string
          enum: [allowed, blocked, failed]
          description: Connection rows only.
        match_rule:
          type: string
          description: Connection rows — which rule decided (domain, cidr, internal-ip, …).
        bytes_sent:
          type: integer
          format: int64
        bytes_recv:
          type: integer
          format: int64
        method:
          type: string
          description: Request rows only.
        path:
          type: string
        status:
          type: integer
          format: int32
          description: Request rows — HTTP status returned to the sandbox.
        upstream_status:
          type: integer
          format: int32
        latency_ms:
          type: integer
          format: int32
        secret_id:
          type: string
          format: uuid
          description: Request rows — the secret injected, if any.
        error_code:
          type: string

    SandboxSecretBinding:
      type: object
      required: [sandbox_id, sandbox_name, env_key, status]
      properties:
        sandbox_id:
          type: string
          format: uuid
        sandbox_name:
          type: string
        env_key:
          type: string
          description: Env-var name the secret resolves to inside the sandbox.
        status:
          type: string
          enum: [active, paused, resuming, failed]

    ProviderShortcut:
      type: object
      required: [name, display, auth_type, hosts, token_shape]
      description: >
        One entry of the built-in provider catalog. The console renders pickers
        from this list so a new shortcut added on the backend appears without
        a frontend redeploy.
      properties:
        name:
          type: string
          description: Stable identifier used as `provider` on `POST /secrets`.
        display:
          type: string
          description: Human-readable label.
        auth_type:
          type: string
          enum: [bearer, basic, api-key, custom, per_host]
        auth_config:
          type: object
          additionalProperties: true
          description: Resolved auth shape; same JSON shape as `SecretResponse.auth_config`.
        hosts:
          type: array
          items:
            type: string
        token_shape:
          type: string
          description: Prefix-shaped sample of the proxy token issued for this provider (e.g. `sk-ant-api03-...`).

    BillingPricingResponse:
      type: object
      required: [plan_key, plan_name, currency, rates]
      properties:
        plan_key:
          type: string
          description: Active pricing plan key. Authenticated pricing is team-specific; public pricing returns the public PAYG plan.
          example: payg
        plan_name:
          type: string
          description: Human-readable plan name.
          example: Pay-as-you-go
        currency:
          type: string
          description: ISO 4217 currency code for all returned rates.
          example: USD
        rates:
          type: array
          items:
            $ref: "#/components/schemas/BillingPricingRate"

    BillingPricingRate:
      type: object
      required: [resource, unit, price_usd, price_usd_hourly, effective_from]
      properties:
        resource:
          type: string
          enum: [memory_gib, storage_gib, vcpu]
          description: Metered resource name.
        unit:
          type: string
          enum: [second]
          description: Billing unit for `price_usd`.
        price_usd:
          type: number
          format: double
          description: Unit price in USD.
          example: 0.000014
        price_usd_hourly:
          type: number
          format: double
          description: Convenience hourly equivalent for UI display.
          example: 0.0504
        effective_from:
          type: string
          format: date-time

    Error:
      type: object
      description: |
        Error envelope. `error.code` is a stable, machine-readable identifier
        (e.g. `bad_request`, `not_found`, `conflict`, `rate_limited`,
        `too_many_builds`, `too_many_templates`, `too_many_sandboxes`,
        `image_pull_failed`, `step_failed`, `snapshot_failed`,
        `start_cmd_failed`, `ready_cmd_failed`, `build_failed`).
        `error.message` is human-readable and may change between releases;
        clients should branch on `code`, not `message`.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Operation conflicts with the resource's current state
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TooManyRequests:
      description: >
        Rate limit hit — the caller's per-team request budget is temporarily
        exhausted. Response body uses error code `rate_limited`. Retry after
        a short backoff; the bucket refills continuously.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    StorageFull:
      description: >
        The sandbox has run out of disk space. Response body uses error code
        `sandbox_storage_full`.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
